<div class="container">
    <h1>心が折れそうな方へ管理者からの応援メッセージ</h1>
    <h2><strong>心が折れそうになった方へ・・・</strong></h2>
     <div style="font-size: 1.5rem">
    　　<p>もし心が折れそうになったら一度体を休めましょう。</p>
    　　<p>体を休めることで筋肉は大きくなります。</p>
        <p><span style=”color:red;”>筋肉が大きくなる＝代謝が上がる＝痩せやすくなるんです‼</span></p>
        <p>ただ、休んでいるときにやっていただきたいことがあります。</p>
        <p>それは、<span style=”color:red>目標をイメージすることです！</span></p>
        
        <p>目標がなければ努力もただのつらい修行になってしまいます。</p>
        <p>そうなっては、今後もつらい過去として思い出してしまい続かなくなってしまいます。</p>
        <P>そうなってしまっては<span style="color:blue">今までの努力が水の泡になってしまいます。</span></P>
        <p>なので休養期間でも<span style="color:red">目標だけは</span>見失わないように意識しましょう</p>
     </div>
     <div><%= link_to "戻る", :back, class: "btn btn-danger" %></div>
</div>
