<body>
  <div class="conteiner">
    <div class="row">
      <h2 class= "px-3 mx-auto">
        この度は、本サイトを閲覧いただきありがとうございます。<br />
        本サイトでは、体力作りをしたい方や、痩せたいけど何から<br />
        始めればいいのかわからない方のためのサイトです。
      </h2>
    </div>
  </div>
  <div class="sidebar">
    <div class= "row">
      <h3>ジャンル</h3>
        <% @genre.each do |genre| %>
          <div class="col"> 
            <%= link_to genre.genre_name, genre_path(genre.id) %>
          </div>
    </div>
  </div>
        <% end %>

</body>