<h1>会員情報一覧</h1>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 mb-5">
      <h4>氏名</h4>
      <%= @customer.last_name + @customer.first_name %>
    </div>
    </div>
    <div class="row d-flex justify-content-center">
    <div class="col-lg-4 mb-5">
      <h4>氏名（カナ）</h4>
      <%= @customer.last_name_kana + @customer.first_name_kana %>
    </div>
    </div>
    <div class="row d-flex justify-content-center">
    <div class="col-lg-4 mb-5">
      <h4>メールアドレス</h4>
      <%= @customer.email %>
    </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="row-lg-2 mt-5">
        <% if @customer.is_deleted != true %>
        強制退会させる場合は　<%= link_to "退会", admin_withdrawal_path(@customer), method: :patch, data: { confirm: "[確認]退会させてもよろしいですか？"}, class: "btn btn-danger"%>
        <% end %>
      </div>
    </div>
</div>
