<div id="post_raty"></div>
         <script>
          $(document).on('turbolinks:load', function() {
              
            let elem = document.querySelector('#post_raty');
              
            if (elem == null) return;
              
            elem.innerHTML = ""
            let opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              score: <%= @menu.difficulty %>,
              readOnly: true
            };
              raty(elem, opt);
            });
          </script>
       </div>