<h1>メニュ―一覧</h1>
<% @menus.each do |menu| %>
<table>
  <thead>
    <tr>
      <th>メニュ―名</th>
      <th>ジャンル</th>
      <th>難易度</th>
      <th>詳細表示</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= menu.name %></td>
      <td><%= menu.genre.name %></td>
      <td><%= menu.difficulty %></td>
      <td><%= link_to "詳細を見る", admin_menu_path(menu.id) %></td>
    </tr>
  </tbody>
</table>
<% end %>