<body>
  <div class="conteiner">
    <div class="row">
      <h4 class= "px-3 mx-auto">
        この度は、本サイトを閲覧いただきありがとうございます。
        本サイトでは、体力作りをしたい方や、痩せたいけど何から
        始めればいいのかわからない方のためのサイトです。
      </h4>
    </div>
  </div>

<%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post %>
</body>