<h1>お気に入り一覧</h1>
<% @nices.each do |nice| %>
<table>
  <thead>
    <tr>
     <th>メニュー名</th>
     <th>ジャンル</th>
     <th>難易度</th>
     <th>詳細表示</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= nice.menu.menu_name %></td>
      <td><%= nice.menu.genre.name %></td>
      <td><%= nice.menu.difficulty %></td>
      <td><%= link_to "詳細を見る", admin_menu_path(menu.id) %></td>
    </tr>
  </tbody>
</table>
<% end %>
</table>