<h1>ジャンル登録</h1>
<%= form_with model: @genre, local: true, url: admin_genre_index_path do |f| %>
<div class="container">
  <div class= "row d-flex justify-content-center mt-5">
    <div class="col">
      <%= f.label :genre_name, "ジャンル名"%>
    </div>
    <div class="col">
      <%= f.text_field :genre_name, autofocus: true %>
      <%=  f.submit "新規追加", class: "btn btn-success" %>
    </div>
  </div>
  
  <p>※新規にジャンル登録した場合は画像の<span style="color:red"><storng>アップデートが必要になります。</storng></p>
</div>

<% end %>
