<h1>登録済み　ジャンル一覧</h1>
<% @genres.each do |genre| %>
<div class="cotainer">
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-lg-3 mt-3">
      <h6>ジャンル名</h6>
      <%= genre.genre_name %>
    </div>
    <div class="col-lg-3">
    <%= link_to "削除する", admin_genre_path(genre.id), method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
  
  
</div>

<% end %>
<%= render 'admin/genre/new', genre: @genre %>